version: "3.6"

services:
  nginx:
    expose:
      - 80
      - 443
    environment:
      VIRTUAL_HOST: ${WP_HOST}
      VIRTUAL_PORT: 443
      VIRTUAL_PROTO: https
      LOCAL_DEV_PORT_HTTP: 80
      LOCAL_DEV_PORT_HTTPS: 443
    networks:
      - wordpress
      - proxy
  app:
    extra_hosts:
      - host.docker.internal:host-gateway
networks:
  proxy:
    name: nginx-proxy
    external: true