[mysqld]
wait_timeout = 600
max_allowed_packet = 64M

innodb_buffer_pool_size=4G
innodb_buffer_pool_instance=2
innodb_read_io_threads=12
innodb_write_io_threads=12
innodb_io_capacity=300
innodb_log_file_size=128M
innodb_log_buffer_size=2M
innodb_lock_wait_timeout = 500